# Xcode
*.xcuserstate
*.xcuserdatad
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcscmblueprint
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Build
build/
DerivedData/
*.swiftpm

# Swift Package Manager
.swiftpm/

# CocoaPods
Pods/
*.podspec

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/

# API Keys (if any)
*.plist.local
